ul {
  list-style: none;
}

#logo {
  font-size: 30px;
  font-weight: 700;
  color: goldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}
nav {
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 50px;
  right: 50px;
  align-items: center;
  padding: 25px;
  background: rgba(10, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  padding: 0% 0% 0% 5%;
}

nav ul li a {
  margin: 30px;
  font-family: sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
#logo {
  font-size: 30px;
  font-weight: 700;
  color: goldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
